.container {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
  text-align: center;
  font-family: 'Cairo';
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.05em;
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 110%;
    transform: translateX(-5%);
    height: 2px;
    border-radius: 1px;
    background-color: #d1411e;
    bottom: 0;
  }
}

.description {
  font-size: 20px;
  color: #444;
  width: 70%;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .title {
    &::after {
      width: 90%;
      transform: translateX(5%);
      bottom: -10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .title {
    line-height: 30px;
    font-size: 30px;
  }

  .description {
    width: 90%;
    font-size: 18px;
    text-align: center;
    padding: 0 10px 20px;
  }
}